@import "tailwindcss";/* You can add global styles to this file, and also import other style files */
@import "flowbite/dist/flowbite.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body{
    background-color: #eee;
}
